:root {
  --global-bg-color: #fafbf8;
  --global-text-color: #272c29;
  --global-text-color-light: #68716c;
  --global-theme-color: #3d705f;
  --global-hover-color: #285244;
  --global-card-bg-color: #ffffff;
  --global-divider-color: rgba(61, 112, 95, 0.16);
}

html[data-theme="dark"] {
  --global-bg-color: #1d2421;
  --global-text-color: #e8eeeb;
  --global-text-color-light: #adbab4;
  --global-theme-color: #82b8a4;
  --global-hover-color: #aad4c4;
  --global-card-bg-color: #27302c;
  --global-divider-color: #44534c;
}
